.container{
    display: flex;
}

.content{
    width: 30%;
    height: auto;
}

.codeEditor{
    width: 70%;
}

.course {
    margin-top: 3rem;
}

.outline {
    top: 0;
    padding: 4rem 1rem 2rem 1rem;
    background-color: #18122B;
    position: fixed;
    overflow: scroll;
    height: 100vh;
}

.outlineItems {
    cursor: pointer;
}

.outline::-webkit-scrollbar {
    display: none;
}

.outline {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.outline * {
    background-color: #18122B;
    color: #F7EFE5;
}

.courseText {
    margin-left: 15rem;
}

.nextBackButton {
    display: flex;
    gap: 1rem;
    margin: 3rem 1rem 1rem 0;
    justify-content: right;
}