.container{
    display: flex;
}

.content{
    width: 30%;
    height: auto;
}

.codeEditor{
    width: 70%;
}

.course {
    margin-top: 3rem;
}

.outline {
    padding-left: 0;
    padding: 1rem;
    background-color: #18122B;
    position: fixed;
    overflow: scroll;
    height: 92vh;
}

.outline::-webkit-scrollbar {
    display: none;
}

.outline {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.outline * {
    background-color: #18122B;
    color: #F7EFE5;
}

.courseText {
    margin-left: 15rem;
}

