.main {
    margin-top: 2rem;
    padding: 3rem;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    justify-items: center;
}

.leftContent {
    overflow-x: visible;
}

.header {
    margin-bottom: 3rem;
}

.topRow {
    display: flex;
    margin-bottom: 3rem;
}

.weekCal {
    height: 6rem;
    width: 28rem;
    background-color: #393053;
    margin-right: 5rem;
}

.energyBar {
    height: 6rem;
    width: 28rem;
    background-color: #393053;
    margin-right: 5rem;
}

.courses {
    height: 18.45rem;
    width: 60rem;
    background-color: #393053;
}

.myProjects {
    justify-content: center;    
}

.projects {
    width: 20rem;
    height: 30rem;
    background-color: #393053;
}