.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.compiler {
    background-color: #1E293B;
    display: flex;
    flex-direction: column;
}

.output {
    background-color: #131a26;
    margin: 0;
    padding: .5rem;
    height: 100%;
}

.compiler {
    padding: 1rem;
    color: #F7EFE5;
    font-size: 1rem;
}

.compiler button {
    display: block;
    padding: 0.5rem 1rem;
    border-style: solid;
    font-weight: 900;
    border-width: 3px;
    transition: all 0.2s;
    border-color: green;
    background-color: green;
    color: #F7EFE5;
    cursor: pointer;
    text-align: center;
    margin-right: auto;
}

.compiler hr {
    border-color: #F7EfE52A;
    width: 100%;
}

.errorMessage {
    color: #ef4444;
}