@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

*:not(.noGlobal *, .noGobal) {
  font-family: 'Mulish', sans-serif;
  font-size: 1.2rem;
  overflow-x: hidden;
}

*:not(section, p, h2, button, h1, h3, .noGlobal *, .noGlobal) {
  background-color: #F7EFE5;
}

p {
  font-size: 2rem !important;
}

h1 {
  font-size: 4rem !important;
  margin-bottom: 0;
}

h2 {
  font-size: 2.5rem !important;
  margin: 0;
  padding-bottom: 3rem;
  max-width: 1968px;
  margin:auto;
}

h3 {
  font-size: 2rem !important;
  font-weight: 800;
  margin: 0;
}

body {
  margin: 0;
}

button:not(.noGlobal *, .noGlobal) {
  padding: 0.5rem 1rem;
  border-style: solid;
  font-weight: 900;
  border-width: 3px;
  border-radius: 5px;
  transition: all 0.2s;
  border-color: #443C68;
  background-color: #443C68;
  color: #F7EFE5;
  cursor: pointer;
  text-align: center;
}

button:hover:not(.noGlobal *, .noGlobal) {
  border-color: #000000;
  background-color: #F7EFE5;
  color: #000000;
}

input {
  border-style: solid;
}

@media screen and (max-width: 1800px) {
  html {
      zoom: 90%;
  }
}