.lightButton {
    border-color: #F7EFE5;
    color: #F7EFE5;
    background-color: #18122B;
}
  
.lightButton:hover {
background-color: #F7EFE5;
color: #000000;
border-color: #000000;
}

/* landing section */
.tagline {
    text-align: center;
    align-self: center;
    font-weight: 900;
}

.tagline span {
    font-size: 4rem;
    background-image: linear-gradient(#443C68, #18122B);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtagline {
    text-align: center;
    align-self: center;
    font-weight: 500;
}

.subtagline span {
    font-size: 2rem;
    font-weight: 900;
    color: #393053;
}

.hero {
    padding: 3rem;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 85vh;
}

.hero div, .heroForm button {
    max-width: 622.5px;
    width: 100%;
}

.heroForm label {
    display: block;
    font-weight: 900;
}

.heroForm{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center; 
    gap: 1rem;
    width: 100%;
}

.heroForm input {
    border-style: solid;
    padding: 0.5rem 1rem;
    margin: 0;
    width: 100%;
}

/* catalog */
.catalog {
    padding: 3rem;
    padding-top: 0;
    background-color: #18122B;
    color: #F7EFE5;
}

.catalog h2 {
    margin: 0;
    padding-bottom: 3rem;
}

.carousel {
    background-color: #18122B;
    display: flex;
    position: absolute;
    gap: 3rem;
    overflow: hidden;
    animation-name: scrollGallery;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.carousel div {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    height: 12rem;
    overflow: hidden;
}

@keyframes scrollGallery {
    0%   {transform: translateX(0);}
    100% {transform: translateX(-50.35%);}
}

.catalog button {
    margin-top: 15rem;
}