.container {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1968px;
    overflow: visible;
}

.container img {
    cursor: pointer;
}

.wrapper {
    display: flex;
    z-index: 1;
    justify-content: center;
    position: fixed;
    width: 100%;
    overflow: visible;
}

.navLinks {
    padding: 0;
    margin: 0;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    list-style: none;
    overflow: visible;
}

.navLinks li {
    cursor: pointer;
    transition: all 0.2s;
}

.navLinks li a {
    text-decoration: none;
    color: #000000;
}

.navLinks li:hover, .navLinks li a:hover {
    color: #443C68;
}

.navLinks img {
    border-radius: 50%;
}

.profileContainer {
    position: relative;
    overflow: visible;
    text-decoration: none;
}

.profileMenu {
    margin-top: 1rem;
    position: absolute;
    right: 0;
    z-index: 1;
    white-space: nowrap;
    padding: .5rem;
    display: none;
    background-color: #18122B;
    opacity: 90%;
    border-radius: 5%;
}

.profileMenu p {
    margin: 0;
    color: #F7EFE5;
    padding-bottom: 1rem;
}

.profileMenu a {
    background-color: #18122B;
    color: #F7EFE5;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: .2rem;
    text-decoration: none;
}

.signOutButton {
    color: red !important;
    padding-top: 2rem;
}