.upperWrapper{
    margin-top: 5rem;
}

.upperContainer {
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
}

.midWrapper{
    height: 22vw;
}

.divider {
    width: 100%;
    height: 10px;
    background-color: #443C68;
}