.main {
    margin-top: 2rem;
    padding: 3rem;
}

.alternateButton {
    background-color: #F7EFE5;
    color: #18122B;
    border-color: #18122B;
}

.alternateButton:hover {
    border-color: #393053;
    background-color: #443C68;
    color: #F7EFE5;
}
